.green-gradient {
    background: linear-gradient(200.32deg,#86c705 23.46%,#6db300 69.93%);
}

.header-logo{
    width: 15%;
}

.header-logo-small{
    width: 10%;
}


.gmap_canvas {
    overflow:hidden
    ;background:none!important;
    height:100%;
    width:100%;
}


.mapouter{
    position:relative;
    text-align:right;
    height:100%;
}

.hamburger-react > div {
    color: rgb(163 230 53);
}

.center-diamond{
    border: 0;
    height: 2px;
    width: 100%;
    position: relative;
    margin: 30px auto;
    background: rgb(163 230 53);
}

.center-diamond:before{
    content: "";
    width: 12px;
    height: 12px;
    background:  rgb(163 230 53);
    display: inline-block;
    border: 2px solid  rgb(163 230 53);
    position: absolute;
    top: -5px;
    left: 50%;
    margin: 0 0 0 -3px;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
}