.green-gradient {
    background: linear-gradient(200.32deg,#86c705 23.46%,#6db300 69.93%);
}

.header-logo{
    left: 42.5%;
    width: 15%;
    top: 10%;
}

.header-logo-small{
    left: 45%;
    width: 10%;
    top: 15px;
    margin-top: 0;
}


.gmap_canvas {
    overflow:hidden
    ;background:none!important;
    height:100%;
    width:100%;
}


.mapouter{
    position:relative;
    text-align:right;
    height:100%;
}

.hamburger-react > div {
    color: rgb(163 230 53);
}